@tailwind base;
@tailwind components;
@tailwind utilities;

article.legal p{
  margin-bottom: 1rem;
}

@font-face {
  font-family: 'VAG Rounded Bold';
  src: url('./fonts/VAG-Rounded-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VAG Rounded';
  src: url('./fonts/VAGRounded-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

